@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');
body {
    background: linear-gradient(to right, #dfdfdf, #facca8);
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-alert {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
}

.custom-alert.show {
    display: block;
    opacity: 1;
}

h1 {
    display: inline;
    font-family: 'Times New Roman', serif;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    box-shadow: 3px 3px 6px rgb(142, 136, 136);
    background-color: transparent;
    width: fit-content;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 50px;
}

ul {
    display: flex;
    gap: 100px;
    margin-right: 100px;
    font-size: 1.5rem;
}

li {
    list-style: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s all;
}

a:hover {
    color: rgb(145, 144, 116);
}

.active {
    color: rgb(150, 183, 250);
}

#head {
    margin-top: 30px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.1);
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#contact {
    margin-right: 100px;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: burlywood;
}

#contact:hover {
    background-color: rgb(231, 179, 99);
}

#contact:active {
    background-color: rgb(236, 225, 22);
}

.main {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 0px 5px 80px rgb(0, 0, 0, 0.1);
    height: 600px;
    padding: 20px;
}

#left {
    width: 50%;
    height: auto;
}

#right {
    width: 50%;
    height: auto;
}

#basicimg, #hbimg, #projectimg {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    margin-top: 20px;
}

h5 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding-left: 30px;
    margin-top: 80px;
}

.bsinfo, .hbinfo {
    font-size: 1.8rem;
    margin-left: 50px;
    margin-top: 30px;
}

#ta {
    color: black;
    font-style: italic;
    font-weight: bold;
}

.hbinfo span {
    color: brown;
    font-weight: bold;
}

.bntcontainer {
    margin-top: 20px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

#right button {
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgba(202, 196, 142, 0.667);
    border: 2px solid rgb(0, 0, 0);
}

#right button:hover {
    background-color: rgb(255, 230, 0);
}

#right button:active {
    background-color: rgba(58, 215, 236, 0.635);
    transition: 0.3s all;
}

h4 {
    text-align: center;
    font-size: 3rem;
}

#messagecontainer {
    margin-left: 50px;
    margin-top: 20px;
    width: 700px;
    height: 500px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: inset 0px 5px 30px rgba(212, 60, 83, 0.1);
    overflow-y: auto;
}

#messagecontainer p {
    font-size: 2rem;
    margin-left: 50px;
}

#inputText {
    font-size: 1.2rem;
    height: 100px;
    width: 400px;
    margin-left: 100px;
    max-width: 400px;
    max-height: 100px;
    min-width: 400px;
    min-height: 100px;
}

#message #right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#message #right button {
    width: 50px;
    height: 50px;
    padding: 5px;
    gap: 5px;
    margin-right: 5px;
}
